.accordion-cell {

  width: 100%;

  .accordion-icon {
    text-align: right;
  }

  .icon-open {
    display: none;
  }

  &.is-active {
    .icon-open {
      display: inherit;
    }

    .icon-close {
      display: none;
    }
  }

  .accordion-button {
    width: 100%;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion-content {
    display: none;
  }

}
