.accordion-cell {

  .icon-open {
    display: none;
  }

  &.is-active {
    .icon-open {
      display: inherit;
    }

    .icon-close {
      display: none;
    }
  }

  .accordion-button {
    width: 100%;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion-content {
    display: none;
  }

  //.accordion-content.open {
  //  display: block;
  //}
}

/**
 * For Testing Styling
 */
.accordion-cell {

  .card-inner{
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }


  .accordion-button {
    padding: 1rem;
    background-color: #f7f7f7;

    &:focus,
    &:hover{
      background-color: #d5d5d5;
    }
  }

  .accordion-content {
    padding: 1rem;
  }

}