.card-cell {
  display: grid;

  &.link-card {
    position: relative;
  }

  a.link-card-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/**
 * Just for testing
 */
.card-inner-content {
  background-color: green;
}

.featured-card{
  background-color: yellow;
  grid-column: 1 / -1;
}