.wp-block-acf-blokki-cards {
  .cards-grid {

    .cell {
      display: grid;

      &.link-card {
        position: relative;
      }
    }

    a.link-card-cover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    /** For Testing */
    .featured-card {
      width: 100% !important;
      background-color: yellow;
    }

    .card-inner {
      background-color: #f6f6f6;
    }
  }
}