$blokki-padding-small: var(--blokki-has-padding-small , calc(var(--wp--style--block-gap, 1rem) * 1));
$blokki-padding-medium: var(--blokki-has-padding-medium, calc(var(--wp--style--block-gap, 1rem) * 2));
$blokki-padding-large: var(--blokki-has-padding-large, calc(var(--wp--style--block-gap, 1rem) * 3));

$blokki-margin-small: var(--blokki-has-margin-small, calc(var(--wp--style--block-gap, 1rem) * 1));
$blokki-margin-medium: var(--blokki-has-margin-medium, calc(var(--wp--style--block-gap, 1rem) * 2));
$blokki-margin-large: var(--blokki-has-margin-large, calc(var(--wp--style--block-gap, 1rem) * 3));

$blokki-breakpoints: (
        small: 0,
        medium: 768px,
        large: 1080px,
);

$blokki-padding-map: (
        small: $blokki-padding-small,
        medium: $blokki-padding-medium,
        large: $blokki-padding-large,
        none: 0,
);

$blokki-margin-map: (
        small: $blokki-margin-small,
        medium: $blokki-margin-medium,
        large: $blokki-margin-large,
        none: 0,
);


$blokki-block-border-editor: var(--blokki-grid-editor-border-width, 1px) var(--blokki-grid-editor-border-style, dotted) var(--blokki-grid-editor-border-color, #D7D7D7);

@mixin blokki-medium-up {
  @media screen and (min-width: #{map-get($blokki-breakpoints, medium)}) {
    @content;
  }
}

@mixin blokki-large-up {
  @media screen and (min-width: #{map-get($blokki-breakpoints, large)}) {
    @content;
  }
}

@mixin blokki-xlarge-up {
  @media screen and (min-width: #{map-get($blokki-breakpoints, xlarge)}) {
    @content;
  }
}


@mixin blokkiVisibilityRules {

  @media (min-width: #{map-get($blokki-breakpoints, large)}) {
    .blokki-hidden-large {
      display: none !important;
    }
  }

  @media (min-width: #{map-get($blokki-breakpoints, medium)}) and (max-width: calc(#{map-get($blokki-breakpoints, large)} - 1px)) {
    .blokki-hidden-medium {
      display: none !important;
    }
  }


  @media (max-width: calc(#{map-get($blokki-breakpoints, medium)} - 1px)) {
    .blokki-hidden-small {
      display: none !important;
    }
  }


}

@mixin blokkiPaddingRules {

  $padding-direction: 'all', 'top', 'bottom', 'left', 'right';

  @each $direction in $padding-direction {
    @each $padding-size, $padding-value in $blokki-padding-map {
      @if $direction == all {
        .has-padding-#{$direction}-#{$padding-size} {
          padding: $padding-value;
        }

      } @else {
        .has-padding-#{$direction}-#{$padding-size} {
          padding-#{$direction} : $padding-value;
        }
      }
    }
  }

}

@mixin blokkiMarginRules {

  $margin-direction: 'all', 'top', 'bottom', 'left', 'right';

  @each $direction in $margin-direction {
    @each $size, $value in $blokki-margin-map {
      @if $direction == all {
        .has-margin-#{$direction}-#{$size} {
          margin: $value;
        }
      } @else {
        .has-margin-#{$direction}-#{$size} {
          margin-#{$direction} : $value;
        }
      }
    }
  }

}


@mixin blokkiGridColumns {
  $columns: 1, 2, 3, 4, 5, 6;

  @each $breakpoint, $breakpoint-value in $blokki-breakpoints {
    @each $column in $columns {
      @media screen and (min-width: #{$breakpoint-value}) {
        &.#{$breakpoint}-up-#{$column} {
          grid-template-columns: repeat(#{$column}, minmax(0,1fr));
        }
      }
    }
  }
}

.blokki-grid {
  &:not(.grid-x) {
    display: grid;
    grid-row-gap: var(--blokki-grid-row-gap, 20px);
    grid-column-gap: var(--blokki-grid-column-gap, 20px);

    @include blokkiGridColumns;
  }
}

.blokki-align {
  &-start {
    align-items: start;
  }
  &-center {
    align-items: center;
  }
  &-end {
    align-items: end;
  }
}

@include blokkiPaddingRules;
@include blokkiMarginRules;
@include blokkiVisibilityRules;

@import "micromodal";
@import ".././controls/style";
